
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #121212;
  color: white;
  font-family: 'Arial', sans-serif;
}
button {
  cursor: pointer;
  transition: transform 0.2s;
}
button:hover {
  transform: scale(1.05);
}
